<% include partials/header %>

        <!-- Check for and DISPLAY ERRORS -->
        <% if(errors != undefined){ %>
            <ul>
                <% errors.forEach(function(error){ %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>

        <%# Adding a Form! :) %><!-- EJS comment -->

        <!-- adding a FORM -->
        <form method="POST" action="/users/add ">
            <label>First name:</label><br />
            <input type="text" name="first_name">
            <br />
            
            <label>Last name:</label><br />
            <input type="text" name="last_name">
            <br />

            <label>Email:</label><br />
            <input type="text" name="email">
            <br />

            <input type="submit" value="Submit">
        </form>

        <!-- Display the TITLE passed as 'title' -->
        <h1>Hello from <%= title %></h1>

        <!-- Build a LIST from the 'users' array passed in -->
        <ul>
            <% users.forEach(function(blah){ %>
                <li><%= blah.first_name %> -- <b><%= blah.last_name %></b></li>
            <% }) %>
        </ul>

<% include partials/footer %>